<%= provide(:title, 'About') %>

<div class="jumbotron text-center">
  <h3>This app created as part of
    <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/apis">The Odin Project's APIs project</a>.
    <br>
    <small>It shows 15 recent Flickr photos from a specific user.</small>
  </h3>
  <p>
    <a href="https://github.com/feeltrustobey/flickr_feed">Source code on Github</a>
  </p>
</div>
